*{
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: Gotham;
}

a {
    text-decoration: none;
}

header{
    width: 100%;
    background: #000;
    height:100px;
    position: relative;
}
header div:nth-of-type(1){
    width: 20%;
    float: left;
    height:100px;
    margin-left: 2%;
}
header div:nth-of-type(1) a{
    display: block;
    height:100px;
    position: relative;
}
header div:nth-of-type(1) a img{
    display: block;
    width: 100%;
    position: absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
header div:nth-of-type(2){
    width: 78%;
    float: right;
    margin-top: 20px;
}
header div:nth-of-type(2) nav ul{
    text-align: right;
    margin-right: 40px;
}
header div:nth-of-type(2) nav ul li{
    display: inline-block;
}

header div:nth-of-type(2) ul li:nth-child(even){
    margin: 0 30px;
}

header div:nth-of-type(3){
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 100%;
}
header div:nth-of-type(3) ul{
    text-align: right;
    margin-right: 40px;
}
header div:nth-of-type(3) ul li{
    display: inline-block;
}
header div:nth-of-type(3) ul li a{
    color: #fff;
}
header div:nth-of-type(3) ul li:nth-child(even){
    margin: 0 30px;
}

.upper {
    text-transform: uppercase;
}

footer {
    background: black;
}

footer div {
    width: 33.333%;
    float: left;
    background: black;
    margin: 7% 0;
}

footer div h4 {
    color: white;
    text-align: center;
    margin-bottom: 1%;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

footer div p {
    color: white;
    text-align: center;
}

footer a {
    color: white;
    font-weight: bold;
}

footer p a {
    text-decoration: underline;
}

footer div ul {
    text-align: center;
}

footer div ul li {
    display: inline-block;
    margin: 0 1%;
}

.col50 {
    width: 44%;
    color: white;
    margin: 2.5% 3%;
}

.liseret {
    height: 1px;
    width: 10%;
    border-bottom: 1px solid white;
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

h5 a {
    font-weight: lighter;
}

.legales {
    text-align: right;
}






