*{
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: Gotham;
}

a {
    text-decoration: none;
}

/* HEADER */

header{
    width: 100%;
    background: #000;
    height:100px;
    position: relative;
}
header div:nth-of-type(1){
    width: 20%;
    float: left;
    height:100px;
    margin-left: 2%;
}
header div:nth-of-type(1) a{
    display: block;
    height:100px;
    position: relative;
}
header div:nth-of-type(1) a img{
    display: block;
    width: 100%;
    position: absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
header div:nth-of-type(2){
    width: 78%;
    float: right;
    margin-top: 20px;
}
header div:nth-of-type(2) nav ul{
    text-align: right;
    margin-right: 40px;
}
header div:nth-of-type(2) nav ul li{
    display: inline-block;
}

header div:nth-of-type(2) ul li:nth-child(even){
    margin: 0 30px;
}

header div:nth-of-type(3){
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 100%;
}
header div:nth-of-type(3) ul{
    text-align: right;
    margin-right: 40px;
}
header div:nth-of-type(3) ul li{
    display: inline-block;
}
header div:nth-of-type(3) ul li a{
    color: #fff;
}
header div:nth-of-type(3) ul li:nth-child(even){
    margin: 0 30px;
}

.upper {
    text-transform: uppercase;
}

/* FOOTER */

footer {
    background: black;
}

footer div {
    width: 33.333%;
    float: left;
    background: black;
    margin: 7% 0;
}

footer div h4 {
    color: white;
    text-align: center;
    margin-bottom: 1%;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

footer div p {
    color: white;
    text-align: center;
}

footer a {
    color: white;
    font-weight: bold;
}

footer p a {
    text-decoration: underline;
}

footer div ul {
    text-align: center;
}

footer div ul li {
    display: inline-block;
    margin: 0 1%;
}

.col50 {
    width: 44%;
    color: white;
    margin: 2.5% 3%;
}

.liseret {
    height: 1px;
    width: 10%;
    border-bottom: 1px solid white;
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

h5 a {
    font-weight: lighter;
}

.legales {
    text-align: right;
}

/* PAGE ACCUEIL */

.accueil .visuel {
    background-image: url("../img-content/index/visuel.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
}
.accueil .visuel h3 {
    font-weight: normal;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.accueil .article {
    position: relative;
}
.accueil .content{
    width:100%;
}
.accueil .content .article{
    width: 100%;
    margin: 100px 0;
}
.accueil .content .article .profondeur{
    width: 55%;
    float: right;
    margin-right: 100px;
    position: relative;
}

.accueil .content .article .profondeur.newsletter{
    width: 55%;
    float: right;
    margin-left: 100px;
    position: relative;
}

.accueil .content .article .profondeur.newsletter{
    float: left;
}

.accueil .content .article .wrapper-description {
    height: auto;
}

.accueil .content .article .wrapper-description .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    z-index:3;
    zwidth: 500px;
    background: #fff;
}

.accueil .content .article .wrapper-description .description.newsletter {
    left: 88%;
}

.accueil .content .article .description{
    width: 40%;
    float: left;
}
.accueil .content .article .profondeur img{
    display: block;
    width: 100%;
    position: relative;
    z-index:2;
}
.accueil .fond {
    position: absolute;
    top: -50px;
    right: -50px;
    width:100%;
    height:100%;
    background: rgb(222, 249, 254);
}

.accueil .fond.newsletter {
    right: 50px;
}

.accueil .description {
    box-shadow: 1px 1px 19px rgba(85, 85, 85, 0.47);
    padding: 4.5%;
}

.accueil .description h4 {
    text-transform: uppercase;
    font-weight: inherit;
}

.accueil .description .liseret {
    border-bottom: 1px solid rgb(50, 216, 248);
    text-align: left;
    margin-left: 70px;
}

.accueil .article .wrapper-description .description p:nth-of-type(1) {
    margin-bottom: 20px;
}

.accueil .article .wrapper-description .description p:nth-of-type(2) {
    text-align: center;
}

.accueil .description p a {
    border: 1px solid rgb(50, 216, 248);
    color: rgb(50, 216, 248);
    padding: 5px;
}

.accueil .abonnement {
    position: relative;
    margin-bottom: 150px;
}

.accueil .abonnement .description {
    width: 400px;
    position: absolute;
    bottom: -120px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 19px rgba(85, 85, 85, 0.47);
}

.accueil .abonnement img {
    width: 100%;
}

.accueil .abonnement .description p,
.accueil .abonnement .description h4 {
    text-align: center;
}

.accueil .abonnement .description .liseret {
    margin-bottom: 40px;
}

@media screen and (min-width: 600px) and (max-width: 850px){

    .accueil .description {
        padding: 2%;
        font-size: 15px;
    }

    .accueil .abonnement .description {
        bottom: -75px;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px){
    .accueil .description {
        padding: 2%;
        font-size: 11px;
    }
    .accueil .abonnement .description {
        bottom: -60px;
    }
}


@media screen and (min-width: 375px) and (max-width: 500px){
    .fond {
        display: none;
    }

    .accueil .content .article .profondeur {
        width: 100%;
        margin-right: 0;
    }

    .accueil .content .article .profondeur.newsletter {
        width: 100%;
        margin-left: 0;
    }
}







