@charset="utf-8";
@font-face {
    font-family: "Gotham-Book";
    src: url("../fonts/Gotham-Book.otf");
}
@font-face {
    font-family: "GOTHAM-LIGHT_0";
    src: url("../fonts/GOTHAM-LIGHT_0.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GOTHAM-LIGHT_0','Gotham-Book', 'Lato', 'sans-serif';
}

*:after,
*:before {
    content: "";
    display: table;
}

main section:first-child h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: -.7em;
}

main {
    width: 100%;
}

.etiquette {
    width: 50%;
    height: 75%;
/*    height: 17em;*/
    /*    margin: -50px auto 0;*/
    /*    padding-top: 47px;*/
    padding: 0em 2em 2em 2em;
    background: #FFFFFF;
    position: absolute;
    top: 3em;
    right: -7em;
}

.fond {
    background-color: aquamarine;
    width: 70%;
    position: absolute;
    left: -2.5em;
    top: -2.5em;
    height: 100%;
    z-index: -1;
}

section:first-child article figure {
    width: 70%;
}

section:first-child article figure img {
    width: 100%;
}

section:first-child article h2 {
    display: inline-block;
/*    font-size: em;*/
    margin-left: 27px;
    padding-top: 48px;
    padding-bottom: 5px;
    /*    margin-bottom: 59px;*/
}

main section:first-child hr {
/*    border-width: .1em;*/
    border-color: black;
    width: 2em;
    margin-left: 27px;
}

.etiquette p {
    margin-top: 2em;
    font-size: 1.5em;
}

main > section:first-child {
    width: 60%;
    margin: 10em auto 0;
    position: relative;
}



.achat {
    /*    display: inline-block;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    /*    margin-top: 54px;*/
    margin-top: 2.8em;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    align-items: baseline;
}

.achat a {
    border: solid #31D8F9;
    border-width: 2px 4px 4px 2px;
    text-decoration: none;
    color: #31D8F9;
    padding: 5px;
    /*    display: inline-block;*/
    width: 6, 5em;
    margin-left: auto;
    margin-right: auto;
}

.achat > span:nth-child(2) {
    display: inline-block;
    position: absolute;
    right: 5em;
    top: .4em;
}

main section:nth-child(2) {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6em;
    padding-top: 6em;
    position: relative;
}

main section:nth-child(2) > h1{
    position: absolute;
    width: 100%;
    top: 0;
    font-size: 2.5em;
    text-align: center;
}

main section:nth-child(2) article {
    display: inline-block;
    width: 30%;
    margin: 10px 30px 10px 0px;
}

section:nth-child(2) article h2 {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    padding-top: 48px;
    padding-bottom: 5px;
    text-align: center;
}

main section:nth-child(2) hr {
    color: #31D8F9;
    width: 2em;
    position: absolute;
    right: 0;
}

.description {
    width: 100%;
    margin: -50px auto 0;
    padding-top: 47px;
    padding-bottom: 27px;
    background: #FFFFFF;
    text-align: center;
}

.titre {
    display: inline-block;
    position: relative;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.command {
    display: inline-block;
    width: 100%;
}

.description span {
    display: block;
    text-align: center;
}