<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../img-content/apropos/frog.png">
    <title>Apropos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
<header class="clearfix">
    <div id="content-logo">
        <h1>
            <a href="index.html.twig">
                <img src="../img-layout/logo.png" alt="">
            </a>
        </h1>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="#"><img src="../img-layout/picto_compte.png" class="picto-nav" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_panier.png" class="picto-nav" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_search.png" class="picto-nav" alt=""></a></li>
            </ul>
        </nav>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Revues</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#"><span class="upper">S'abonner</span></a></li>
            </ul>
        </nav>
    </div>
</header>

    <main class="a_propos">

        <div class="presentation">
           <h2>À propos de nous</h2>
            <img src="../img-content/apropos/accroche-apropos.jpg" alt="photo" class="accroche-apropos">
        </div>




        <section>
            <article>
                <figure>
                    <img src="../img-content/apropos/ap-picto-1..png" alt="image">
                </figure>
                <div class="description">
                    <div class="titre">
                        <p>Depuis 1990, la revue "L'Architecture de votre région" propose un panorama détaillé de l'architecture d'une région, d'un territoire ou d'un pays. La revue "L'Architecture de votre région" est le témoignage des hommes qui construisent aujourd'hui. Elle constitue ainsi la vitrine de leur création.</p>
                        <p>
                            Par sa diffusion ciblée, c'est aussi un support d'une exceptionnelle efficacité et porteur d'image pour tous les partenaires rédacteurs, entreprises, institutionnels et sociétés qui y participent.
                        </p>
                    </div>
                </div>
            </article>


            <article>
                <figure>
                    <img src="../img-content/apropos/ap-picto-2.png" alt="image">
                </figure>
                <div class="description">
                    <div class="titre">
                        <p>Véritable vitrine de la création architecturale d'une région ou d'un pays, elle est réalisée avec le concours des architectes représentatifs de la construction, du bâtiment, de l'urbanisme, de l'environnement et de l'aménagement du territoire.
                        </p>
                        <p>
                            Pour chaque architecte volontaire et dans chaque région, un reportage complet est publié avec son logo, ses coordonnées, sa raison sociale, 3 à 4 photos par réalisation et un rédactionnel détaillé auxquels s'ajoute une fiche technique comprenant maâtre d'ouvrage, maître d'œuvre, surface, durée, coût des travaux, entreprises, fabricants et fournisseurs utilisés.
                        </p>
                    </div>
                </div>
            </article>


            <article>
                <figure>
                    <img src="../img-content/apropos/ap-picto-3.png" alt="image">
                </figure>
                <div class="description">
                    <div class="titre">
                        <p>Ce travail de fourmis permet de présenter l'actualité architecturale en région. Chaque revue devient donc un véritable outil de travail pour les professionnels de l'architecture et de la construction appartenant ou non à la région concernée (architectes, bureaux d'études, bureaux d'ingénierie, professionnels du BTP, conseils régionaux, généraux, mairies, HLM, SEM, Préfectures, DDE, promoteurs, CCI, PME-PMI)</p>
                        <p>
                            De même, l'annonceur peut définir l'étendue de sa campagne : la limiter à une seule région, l'étendre à plusieurs régions ou à un pays. En effet, la présence de la revue dépasse le cadre hexagonal. En Outre-mer, la Martinique, la Guadeloupe, la Réunion et la Guyane. En Europe, la Belgique et la Suisse.
                        </p>
                    </div>
                </div>
            </article>




        </section>


    </main>
<footer class="clearfix">
    <div>
        <h4>Appel d'offre</h4>
        <p>Découvrez notre partenaire<br>DoubleTrade <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Contactez-nous</h4>
        <p>Vous souhaitez nous contacter ?<br>Rien de plus simple, cliquez <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Suivez-nous</h4>
        <ul>
            <li><a href="#"><img src="../img-layout/fb.png"></a></li>
            <li><a href="#"><img src="../img-layout/insta.png"></a></li>
            <li><a href="#"><img src="../img-layout/pinterest.png"></a></li>
            <li><a href="#"><img src="../img-layout/twitter.png"></a></li>
        </ul>
    </div>
    <div class="col50">
        <h5><a href="#">L'Architecture</a></h5>
    </div>
    <div class="col50">
        <h5 class="legales"><a href="#">Mentions légales</a></h5>
    </div>
</footer>



</body>

</html>