<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header class="clearfix">
    <div id="content-logo">
        <h1>
            <a href="index.html.twig">
                <img src="../img-layout/logo.png" alt="">
            </a>
        </h1>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="#"><img src="../img-layout/picto_compte.png" class="picto-nav" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_panier.png" class="picto-nav" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_search.png" class="picto-nav" alt=""></a></li>
            </ul>
        </nav>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Revues</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#"><span class="upper">S'abonner</span></a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="detail_actu">
    <section>
        <article class="clearfix article_actu">
            <div class="left accroche-actu">
                <div class="imagery right">
                    <img class="img-actu" src="../img-content/actu/actualite-5.png">
                    <div class="underground-img"></div>
                </div>
                <div class="content-title test">
                    <h2 class="actu-title test2">Abonnement</h2>
                    <div class="underline"></div>
                </div>
                <h3 class="subhead">Projet Astrale</h3>
                <span class="date">24 Avr. 2017</span>
                <p class="en-tete">Situé au coeur de NOVEOS Parc d’Affaires Paris Sud Ouest, en plein essor. L'immeuble tertiaire "Astrale" permet de répondre aussi bien à un mono utilisateur qu’à un grand nombre de locataires. D’une capacité d'accueil de 1 500 personnes, avec une surface de 25 000 m2 SHON et 56 000m2 SHOB.Le parti d'implantation est de créer un bâtiment urbain périmétrique permettant de dégager un parc végétal de la plus grande dimension possible en son centre. Le restaurant tout en courbe devient lui même une partie de ce jardin en s'agrémentant d'une terrasse végétalisée.<br>L'ensemble des bâtiments s'articule autour de ce parc où plateaux, paliers, escaliers, rue intérieure et restaurant ont des vues.</p>
            </div>
        </article>
        <div class="img-galerie">
            <figure>
                <img src="../img-content/actu/detail-1.png">
            </figure>
            <figure>
                <img src="../img-content/actu/detail-2.png">
            </figure>
            <figure>
                <img src="../img-content/actu/detail-3.png">
            </figure>
        </div>
        <article class="last clearfix">
            <figure id="full">
                <img src="../img-content/actu/detail-4.png">
            </figure>
            <p>Deux halls principaux ponctuent l’édifice en marquant fortement la volumétrie de l’ensemble.<br>Au Nord une faille entièrement vitrée accompagnée par un voile en béton blanc courbe offre une transparence entre l’avenue et le jardin intérieur.<br>Au Sud, un totem vitré lumineux visible depuis l’A86 englobe les salles de réunion rouges afin de former un signal identitaire. L’organisation en plan résulte d’une recherche de confort et de flexibilité des plateaux de bureaux ainsi que d’une optimisation de l’éclairage naturel, y compris pour l’ensemble des circulations verticales et horizontales. <br>Les systèmes environnementaux développés sont le traitement de toiture végétalisée avec récupération des eaux de pluies, la mise en place de pompes à chaleur individuelles réversibles raccordées sur une boucle thermodynamique, un système de gestion technique centralisé.</p>
        </article>
    </section>
</main>

<footer class="clearfix">
    <div>
        <h4>Appel d'offre</h4>
        <div class="liseret"></div>
        <p>Découvrez notre partenaire<br>DoubleTrade <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Contactez-nous</h4>
        <div class="liseret"></div>
        <p>Vous souhaitez nous contacter ?<br>Rien de plus simple, cliquez <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Suivez-nous</h4>
        <div class="liseret"></div>
        <ul>
            <li><a href="#"><img src="../img-layout/fb.png"></a></li>
            <li><a href="#"><img src="../img-layout/insta.png"></a></li>
            <li><a href="#"><img src="../img-layout/pinterest.png"></a></li>
            <li><a href="#"><img src="../img-layout/twitter.png"></a></li>
        </ul>
    </div>
    <div class="col50">
        <h5><a href="#">L'Architecture</a></h5>
    </div>
    <div class="col50">
        <h5 class="legales"><a href="#">Mentions légales</a></h5>
    </div>
</footer>

</body>
</html>