<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header class="clearfix">
    <div id="content-logo">
        <h1>
            <a href="index.html.twig">
                <img src="../img-layout/logo.png" alt="">
            </a>
        </h1>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="#"><img src="../img-layout/picto_compte.png" class="picto-nav" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_panier.png" class="picto-nav" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_search.png" class="picto-nav" alt=""></a></li>
            </ul>
        </nav>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Revues</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#"><span class="upper">S'abonner</span></a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="actu">
    <section class="les_actualites">
        <article class="clearfix article_actu">
            <div class="text left">
                <div class="content-title test">
                    <h2 class="actu-title test2">Abonnement</h2>
                </div>
                <h3 class="subhead">Projet Astrale</h3>
                <span class="date">24 Avr. 2017</span>
                <p class="description">Situé au coeur de NOVEOS Parc d’Affaires Paris Sud Ouest, en plein essor. L'immeuble tertiaire "Astrale" permet de répondre aussi bien à un mono utilisateur qu’à un grand nombre de locataires. D’une capacité d'accueil de 1 500 personnes, avec une surface de 25 000 m2 SHON et 56 000m2 SHOB, il intègre...</p>
                <a href="#" class="button-more">Lire la suite</a>
            </div>
            <div class="imagery left">
                <img class="img-actu" src="../img-content/actu/actualite-1.png">
                <div class="underground-img"></div>
            </div>
        </article>
        <article class="clearfix article_actu">
            <div class="text right">
                <div class="content-title test">
                    <h2 class="actu-title test2">Abonnement</h2>
                </div>
                <h3 class="subhead">Projet Astrale</h3>
                <span class="date">24 Avr. 2017</span>
                <p class="description">Situé au coeur de NOVEOS Parc d’Affaires Paris Sud Ouest, en plein essor. L'immeuble tertiaire "Astrale" permet de répondre aussi bien à un mono utilisateur qu’à un grand nombre de locataires. D’une capacité d'accueil de 1 500 personnes, avec une surface de 25 000 m2 SHON et 56 000m2 SHOB, il intègre...</p>
                <a href="#" class="button-more">Lire la suite</a>
            </div>
            <div class="imagery right">
                <img class="img-actu" src="../img-content/actu/actualite-2.png">
                <div class="underground-img"></div>
            </div>
        </article>
        <article class="clearfix article_actu">
            <div class="text left">
                <div class="content-title test">
                    <h2 class="actu-title test2">Abonnement</h2>
                </div>
                <h3 class="subhead">Projet Astrale</h3>
                <span class="date">24 Avr. 2017</span>
                <p class="description">Situé au coeur de NOVEOS Parc d’Affaires Paris Sud Ouest, en plein essor. L'immeuble tertiaire "Astrale" permet de répondre aussi bien à un mono utilisateur qu’à un grand nombre de locataires. D’une capacité d'accueil de 1 500 personnes, avec une surface de 25 000 m2 SHON et 56 000m2 SHOB, il intègre...</p>
                <a href="#" class="button-more">Lire la suite</a>
            </div>
            <div class="imagery left">
                <img class="img-actu" src="../img-content/actu/actualite-3.png">
                <div class="underground-img"></div>
            </div>
        </article>
        <article class="clearfix article_actu">
            <div class="text right">
                <div class="content-title test">
                    <h2 class="actu-title test2">Abonnement</h2>
                </div>
                <h3 class="subhead">Projet Astrale</h3>
                <span class="date">24 Avr. 2017</span>
                <p class="description">Situé au coeur de NOVEOS Parc d’Affaires Paris Sud Ouest, en plein essor. L'immeuble tertiaire "Astrale" permet de répondre aussi bien à un mono utilisateur qu’à un grand nombre de locataires. D’une capacité d'accueil de 1 500 personnes, avec une surface de 25 000 m2 SHON et 56 000m2 SHOB, il intègre...</p>
                <a href="#" class="button-more">Lire la suite</a>
            </div>
            <div class="imagery right">
                <img class="img-actu" src="../img-content/actu/actualite-4.png">
                <div class="underground-img"></div>
            </div>
        </article>
        <article class="clearfix article_actu">
            <div class="text left">
                <div class="content-title test">
                    <h2 class="actu-title test2">Abonnement</h2>
                </div>
                <h3 class="subhead">Projet Astrale</h3>
                <span class="date">24 Avr. 2017</span>
                <p class="description">Situé au coeur de NOVEOS Parc d’Affaires Paris Sud Ouest, en plein essor. L'immeuble tertiaire "Astrale" permet de répondre aussi bien à un mono utilisateur qu’à un grand nombre de locataires. D’une capacité d'accueil de 1 500 personnes, avec une surface de 25 000 m2 SHON et 56 000m2 SHOB, il intègre...</p>
                <a href="#" class="button-more">Lire la suite</a>
            </div>
            <div class="imagery left">
                <img class="img-actu" src="../img-content/actu/actualite-5.png">
                <div class="underground-img"></div>
            </div>
        </article>
    </section>
</main>

<footer class="clearfix">
    <div>
        <h4>Appel d'offre</h4>
        <div class="liseret"></div>
        <p>Découvrez notre partenaire<br>DoubleTrade <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Contactez-nous</h4>
        <div class="liseret"></div>
        <p>Vous souhaitez nous contacter ?<br>Rien de plus simple, cliquez <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Suivez-nous</h4>
        <div class="liseret"></div>
        <ul>
            <li><a href="#"><img src="../img-layout/fb.png"></a></li>
            <li><a href="#"><img src="../img-layout/insta.png"></a></li>
            <li><a href="#"><img src="../img-layout/pinterest.png"></a></li>
            <li><a href="#"><img src="../img-layout/twitter.png"></a></li>
        </ul>
    </div>
    <div class="col50">
        <h5><a href="#">L'Architecture</a></h5>
    </div>
    <div class="col50">
        <h5 class="legales"><a href="#">Mentions légales</a></h5>
    </div>
</footer>

</body>
</html>