<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="connexions">
<header class="clearfix">
    <div>
        <a href="#">
            <img src="../img-layout/logo.png" alt="">
        </a>
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="#"><img src="../img-layout/picto_compte.png" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_panier.png" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_search.png" alt=""></a></li>
            </ul>
        </nav>
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Revues</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#"><span class="upper">S'abonner</span></a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="connexion">
        <h2>Connexion</h2>
        <div>
            <label for="nom">Identifiant</label>
            <input type="text" id="nom" name="nom" placeholder="Votre nom" required>
        </div>
        <div>
            <label for="nom">Mot de passe</label>
            <input type="text" id="nom" name="nom" placeholder="Votre nom" required>
        </div>
        <p><a href="#">Mot de passe oublié ?</a></p>
        <div>
            <input type="submit" id="valider" name="valider" value="SE CONNECTER">
        </div>
    </div>
    <div class="inscription">
        <h2>Inscription</h2>
        <div>
            <label for="nom">Nom</label>
            <input type="text" id="nom" name="nom" placeholder="Votre nom" required>
        </div>
        <div>
            <label for="nom">Prénom</label>
            <input type="text" id="nom" name="nom" placeholder="Votre nom" required>
        </div>
        <div>
            <label for="nom">Adresse mail</label>
            <input type="text" id="nom" name="nom" placeholder="Votre nom" required>
        </div>
        <div>
            <label for="nom">Mot de passe</label>
            <input type="text" id="nom" name="nom" placeholder="Votre nom" required>
        </div>
        <div>
            <label for="nom">Confirmer le mot de passe</label>
            <input type="text" id="nom" name="nom" placeholder="Votre nom" required>
        </div>
        <div>
            <input type="checkbox" id="remember" name="remember">
            <label for="remember">Je m'abonne à la Newsletter</label>
        </div>
        <div>
            <input type="submit" id="valider" name="valider" value="S'INSCRIRE">
        </div>
    </div>
</main>

<footer class="clearfix">
    <div>
        <h4>Appel d'offre</h4>
        <div class="liseret"></div>
        <p>Découvrez notre partenaire<br>DoubleTrade <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Contactez-nous</h4>
        <div class="liseret"></div>
        <p>Vous souhaitez nous contacter ?<br>Rien de plus simple, cliquez <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Suivez-nous</h4>
        <div class="liseret"></div>
        <ul>
            <li><a href="#"><img src="../img-layout/fb.png"></a></li>
            <li><a href="#"><img src="../img-layout/insta.png"></a></li>
            <li><a href="#"><img src="../img-layout/pinterest.png"></a></li>
            <li><a href="#"><img src="../img-layout/twitter.png"></a></li>
        </ul>
    </div>
    <div class="col50">
        <h5><a href="#">L'Architecture</a></h5>
    </div>
    <div class="col50">
        <h5 class="legales"><a href="#">Mentions légales</a></h5>
    </div>
</footer>

</body>
</html>