<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="accueil">

<header class="clearfix">
    <div id="content-logo">
        <h1>
            <a href="index.html.twig">
                <img src="../img-layout/logo.png" alt="">
            </a>
        </h1>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="#"><img src="../img-layout/picto_compte.png" class="picto-nav" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_panier.png" class="picto-nav" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_search.png" class="picto-nav" alt=""></a></li>
            </ul>
        </nav>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Revues</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#"><span class="upper">S'abonner</span></a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="visuel">
        <h3>Toute l'actualité de l'architecture et de la construction</h3>
    </div>
    <div class="content">
        <div class="article clearfix">
            <div class="profondeur">
                <img src="../img-content/index/magazine.jpg">
                <div class="fond"></div>
            </div>
            <div class="wrapper-description">
                <div class="description">
                    <div class="content-title test">
                        <h2 class="actu-title test2">Magazine</h2>
                    </div>
                    <p>Voyagez, en découvrant chaque mois l’architecture et les constructions d’une région.</p>
                    <p><a href="#">Les revues</a></p>
                </div>
            </div>
        </div>
        <div class="article clearfix">
            <div class="profondeur newsletter">
                <img src="../img-content/index/newsletter.jpg">
                <div class="fond newsletter"></div>
            </div>
            <div class="wrapper-description">
                <div class="description newsletter">
                    <div class="content-title test">
                        <h2 class="actu-title test2">Newsletter</h2>
                    </div>
                    <p>Ne manquer rien de l’actualité, recever toutes nos news directement dans votre voite mail !</p>
                    <p><a href="#">Les revues</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="abonnement">
        <img src="../img-content/index/abonnement.jpg">
        <div class="description">
            <div class="content-title test">
                <h2 class="actu-title test2">Faites nous confiance</h2>
            </div>
            <p><a href="#">S'abonner</a></p>
        </div>
    </div>

</main>

<footer class="clearfix">
    <div>
        <h4>Appel d'offre</h4>
        <p>Découvrez notre partenaire<br>DoubleTrade <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Contactez-nous</h4>
        <p>Vous souhaitez nous contacter ?<br>Rien de plus simple, cliquez <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Suivez-nous</h4>
        <ul>
            <li><a href="#"><img src="../img-layout/fb.png"></a></li>
            <li><a href="#"><img src="../img-layout/insta.png"></a></li>
            <li><a href="#"><img src="../img-layout/pinterest.png"></a></li>
            <li><a href="#"><img src="../img-layout/twitter.png"></a></li>
        </ul>
    </div>
    <div class="col50">
        <h5><a href="#">L'Architecture</a></h5>
    </div>
    <div class="col50">
        <h5 class="legales"><a href="#">Mentions légales</a></h5>
    </div>
</footer>

</body>
</html>