<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="connexions">
<header class="clearfix">
    <div>
        <a href="#">
            <img src="../img-layout/logo.png" alt="">
        </a>
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="#"><img src="../img-layout/picto_compte.png" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_panier.png" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_search.png" alt=""></a></li>
            </ul>
        </nav>
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Revues</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#"><span class="upper">S'abonner</span></a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="mentions">

    <h2>Mentions légales</h2>
    <h3>RAISON SOCIALE</h3>
                    <p>
                        SOFRE&amp;COM<br>Société Fran&ccedil;aise d'édition et de communication
                    </p>
    <h3>SIÈGE SOCIAL</h3>
                    <p>
                        SOFRE&amp;COM<br>9/11 rue Jacquard - 93315 Le Pr&eacute; Saint Gervais cedex - France<br>Tél : +33 (1) 49 91 93 99<br>Fax : +33 (1) 49 91 94 20
                    </p>
    <h3>DIRECTEUR</h3>>
                    <p>
                        Phillipe HADIDA
                    </p>
    <h3>CRÉDITS</h3>
    <span class="bold">Conception et contenus :</span> SOFRE&amp;COM<br/>

                        </p>

                        <br/><br/>
                        <span class="bold size-more bleu_vert">DONNÉES PERSONNELLES</span><br/><br/>
                        <p>
                            Les informations recueillies par les formulaires présents sur le site
                            font l’objet d’un traitement informatique nécessaires aux bon déroulement des commandes et
                            des abonnements.
                        </p><br/>
                        <p>
                            Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée
                            en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations
                            qui vous concernent.
                        </p><br/>
                        <p>
                            Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des
                            données vous concernant.
                        </p>

                        <br/><br/>
                        <span class="bold size-more bleu_vert">CONTENU DU SITE</span><br/><br/>
                        <p>
                            Les informations fournies sur ce site sont à titre informatif. <span class="underline">SOFRE&amp;COM</span> ne saurait garantir
                            l'exactitude, la complétude, l'actualité des informations diffusées sur le site.
                        </p><br/>
                        <p>
                            <span class="underline">SOFRE&amp;COM</span> met tout en œuvre pour offrir aux
                            utilisateurs des informations et/ou outils
                            disponibles et vérifiés mais ne saurait être tenu pour responsable des erreurs ou
                            omissions, d'une absence de disponibilité des informations et des services. Malgré
                            tous les soins apportés pour la constitution et la mise à jour de ce site, des erreurs,
                            inexactitudes ou omissions peuvent subsister ainsi que des problèmes de connexion
                            au site ou d’interruption de connexion.
                        </p><br/>
                        <p>
                            En conséquence, l'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.
                        </p><br/>


                        <br/><br/>
                        <span class="bold size-more bleu_vert">PROPRIÉTÉ INTELLECTUELLE ET DROITS VOISINS</span><br/><br/>
                        <p>
                            Le site www.larchitecture.com et l'ensemble des éléments qui le constituent (notamment les
                            dessins, modèles, photos, illustrations, images, bandes sonores, chartes graphiques,
                            textes, logos, marques…) sont la propriété exclusive de <span class="underline">SOFRE&amp;COM</span>.
                        </p><br/>
                        <p>
                            En conséquence, il vous est interdit d’utiliser, de représenter ou de reproduire
                            intégralement ou partiellement, par quelque procédé que ce soit, de distribuer, de publier,
                            de transmettre, de modifier ou de vendre tout ou partie du contenu du site ou de créer
                            des œuvres dérivées à partir de celui-ci.
                        <p><br/>
                        <p>
                            La marque <span class="underline">SOFRE&amp;COM</span> et les logos liés à
                            <span class="underline">SOFRE&amp;COM</span>, déposés ou non, affichés sur le site
                            www.larchitecture.com
                            ainsi que le nom de domaine www.larchitecture.com  sont et demeureront la propriété exclusive
                            de <span class="underline">SOFRE&amp;COM</span>.
                        </p><br/>
                        <p>
                            Toute reproduction, distribution, transmission, modification ou utilisation de ces éléments
                            sans accord expresse et préalable de <span class="underline">SOFRE&amp;COM</span>, pour quelque motif que ce soit, est interdite.
                        </p><br/>
                        <p>
                            <span class="underline">SOFRE&amp;COM</span> décline toute responsabilité en cas d’utilisation ou d’exploitation illégale des
                            éléments (notamment dessins, photos, modèles, illustrations, images, bandes sonores,
                            chartes graphiques, textes, logos, marques et autres signes distinctifs) contenus sur le site.
                        </p>
                        <br/><br/>
                        <span class="bold size-more bleu_vert">LIENS</span><br/><br/>
                        <p>
                            Ce site peut vous proposer des liens avec d'autres sites exploités par des parties autres
                            que <span class="underline">SOFRE&amp;COM</span>.<br /> <span class="underline">SOFRE&amp;COM</span> ne peut être tenu pour responsable des contenus des sites auxquels il est
                            renvoyé et sur lesquels <span class="underline">SOFRE&amp;COM</span> n’a aucun contrôle.
                        </p><br/>
                        <p>
                            <span class="underline">SOFRE&amp;COM</span> n’assumera, en aucun cas, les dommages directs ou
                            indirects résultant de ce contenu.
                            Tous les liens avec d’autres sites sont fournis à titre de simple commodité aux
                            utilisateurs de ce site Internet.
                        </p>



                </div>
                <div class="clear">&nbsp;</div>
            </div>

        </div>


    </div>

</main>

<footer class="clearfix">
    <div>
        <h4>Appel d'offre</h4>
        <div class="liseret"></div>
        <p>Découvrez notre partenaire<br>DoubleTrade <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Contactez-nous</h4>
        <div class="liseret"></div>
        <p>Vous souhaitez nous contacter ?<br>Rien de plus simple, cliquez <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Suivez-nous</h4>
        <div class="liseret"></div>
        <ul>
            <li><a href="#"><img src="../img-layout/fb.png"></a></li>
            <li><a href="#"><img src="../img-layout/insta.png"></a></li>
            <li><a href="#"><img src="../img-layout/pinterest.png"></a></li>
            <li><a href="#"><img src="../img-layout/twitter.png"></a></li>
        </ul>
    </div>
    <div class="col50">
        <h5><a href="#">L'Architecture</a></h5>
    </div>
    <div class="col50">
        <h5 class="legales"><a href="#">Mentions légales</a></h5>
    </div>
</footer>

</body>
</html>