<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header class="clearfix">
    <div id="content-logo">
        <h1>
            <a href="index.html.twig">
                <img src="../img-layout/logo.png" alt="">
            </a>
        </h1>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="#"><img src="../img-layout/picto_compte.png" class="picto-nav" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_panier.png" class="picto-nav" alt=""></a></li>
                <li><a href="#"><img src="../img-layout/picto_search.png" class="picto-nav" alt=""></a></li>
            </ul>
        </nav>
    </div>
    <div id="none">
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Revues</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#"><span class="upper">S'abonner</span></a></li>
            </ul>
        </nav>
    </div>
</header>
<body>

        <main class="revues">

            <div class="presentation">
                <img src="../img-content/revues/pexels-foto.jpg" alt="photo" class="accroche">

                <div class="couv_mag">
                    <div class="desc">
                        <div class="content-title test">
                            <h2 class="actu-title test2">Abonnement</h2>
                        </div>
                        <p>Découvrez l'architecture des <b>Antilles</b></p>
                    </div>
                    <figure>
                        <img src="../img-content/revues/couv_285.jpg" alt="couverture">
                    </figure>
                </div>
            </div>

            <section>
                <h3>Toutes nos revues</h3>
                <article>
                    <figure>
                        <img src="../img-content/revues/imagess.png" alt="image">
                        <figcaption>n°280</figcaption>
                    </figure>
                    <div class="description">
                        <div class="titre">
                            <div class="content-title">
                                <h2 class="actu-title">LA MARTINIQUE</h2>
                                <div class="underline"></div>
                            </div>
                            <img src="../img-content/revues/visibility.svg" alt="visible" class="visible">
                        </div>

                        <div class="command">
                            <span>19€</span>
                            <button><a href="#">Commander</a></button>
                            <span>- 1 +</span>
                        </div>
                    </div>
                </article>


                <article>
                    <figure>
                        <img src="../img-content/revues/imagess.png" alt="image">
                        <figcaption>n°280</figcaption>
                    </figure>
                    <div class="description">
                        <div class="titre">
                            <div class="content-title">
                                <h2 class="actu-title">LA MARTINIQUE</h2>
                                <div class="underline"></div>
                            </div>
                            <img src="../img-content/revues/visibility.svg" alt="visible" class="visible">
                        </div>

                        <div class="command">
                            <span>19€</span>
                            <button><a href="#">Commander</a></button>
                            <span>- 1 +</span>
                        </div>
                    </div>
                </article>



                <article>
                    <figure>
                        <img src="../img-content/revues/imagess.png" alt="image">
                        <figcaption>n°280</figcaption>
                    </figure>
                    <div class="description">
                        <div class="titre">
                            <div class="content-title">
                                <h2 class="actu-title">LA MARTINIQUE</h2>
                                <div class="underline"></div>
                            </div>
                            <img src="../img-content/revues/visibility.svg" alt="visible" class="visible">
                        </div>

                        <div class="command">
                            <span>19€</span>
                            <button><a href="#">Commander</a></button>
                            <span>- 1 +</span>
                        </div>
                    </div>
                </article>



                <article>
                    <figure>
                        <img src="../img-content/revues/imagess.png" alt="image">
                        <figcaption>n°280</figcaption>
                    </figure>
                    <div class="description">
                        <div class="titre">
                            <div class="content-title">
                                <h2 class="actu-title">LA MARTINIQUE</h2>
                                <div class="underline"></div>
                            </div>
                            <img src="../img-content/revues/visibility.svg" alt="visible" class="visible">
                        </div>

                        <div class="command">
                            <span>19€</span>
                            <button><a href="#">Commander</a></button>
                            <span>- 1 +</span>
                        </div>
                    </div>
                </article>



                <article>
                    <figure>
                        <img src="../img-content/revues/imagess.png" alt="image">
                        <figcaption>n°280</figcaption>
                    </figure>
                    <div class="description">
                        <div class="titre">
                            <div class="content-title">
                                <h2 class="actu-title">LA MARTINIQUE</h2>
                                <div class="underline"></div>
                            </div>
                            <img src="../img-content/revues/visibility.svg" alt="visible" class="visible">
                        </div>

                        <div class="command">
                            <span>19€</span>
                            <button><a href="#">Commander</a></button>
                            <span>- 1 +</span>
                        </div>
                    </div>
                </article>



                <article>
                    <figure>
                        <img src="../img-content/revues/imagess.png" alt="image">
                        <figcaption>n°280</figcaption>
                    </figure>
                    <div class="description">
                        <div class="titre">
                            <div class="content-title">
                                <h2 class="actu-title">LA MARTINIQUE</h2>
                                <div class="underline"></div>
                            </div>
                            <img src="../img-content/revues/visibility.svg" alt="visible" class="visible">
                        </div>

                        <div class="command">
                            <span>19€</span>
                            <button><a href="#">Commander</a></button>
                            <span>- 1 +</span>
                        </div>
                    </div>
                </article>

            </section>

            <span class="page"><img src="../img-content/revues/chevron1.svg" alt="chevron">Pages 2 sur 38<img src="../img-content/revues/Triangle.svg" alt="triangle"><img src="../img-content/revues/chevron2.svg" alt="chevron"></span>
        </main>



<footer class="clearfix">
    <div>
        <h4>Appel d'offre</h4>
        <div class="liseret"></div>
        <p>Découvrez notre partenaire<br>DoubleTrade <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Contactez-nous</h4>
        <div class="liseret"></div>
        <p>Vous souhaitez nous contacter ?<br>Rien de plus simple, cliquez <a href="#">ici</a></p>
    </div>
    <div>
        <h4>Suivez-nous</h4>
        <div class="liseret"></div>
        <ul>
            <li><a href="#"><img src="../img-layout/fb.png"></a></li>
            <li><a href="#"><img src="../img-layout/insta.png"></a></li>
            <li><a href="#"><img src="../img-layout/pinterest.png"></a></li>
            <li><a href="#"><img src="../img-layout/twitter.png"></a></li>
        </ul>
    </div>
    <div class="col50">
        <h5><a href="#">L'Architecture</a></h5>
    </div>
    <div class="col50">
        <h5 class="legales"><a href="#">Mentions légales</a></h5>
    </div>
</footer>

</body>
</html>